* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 15vh;
  background-color: beige;
}
nav ul {
  border: 1px double rgb(182, 171, 15);
}
nav ul li {
  color: red;
}
nav + section {
  border: 3px double red;
  background-color: rgb(182, 171, 15);
  height: 10vh;
}

.square {
  width: 5vw;
  height: 5vw;
  background-color: yellow;
}

.round {
  width: 20vw;
  height: 20vw;
  background-color: lime;
  border-radius: 10vw;
}

.loop1 {
  width: 40px;
  height: 40px;
  background-color: #4bc2a5;
  border-radius: 20px;
}

.loop2 {
  width: 50px;
  height: 50px;
  background-color: #606F40;
  border-radius: 25px;
}

.loop3 {
  width: 17px;
  height: 17px;
  background-color: #6648CA;
  border-radius: 8.5px;
}

.loop4 {
  width: 15px;
  height: 15px;
  background-color: #6B6022;
  border-radius: 7.5px;
}

.loop5 {
  width: 8vw;
  height: 8vw;
  background-color: #2F54E9;
  border-radius: 4vw;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: lightsteelblue;
}
main .tile1 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.0833333333s;
}
main .tile2 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.1666666667s;
}
main .tile3 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.25s;
}
main .tile4 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.3333333333s;
}
main .tile5 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.4166666667s;
}
main .tile6 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
main .tile7 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.5833333333s;
}
main .tile8 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.6666666667s;
}
main .tile9 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.75s;
}
main .tile10 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.8333333333s;
}
main .tile11 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.9166666667s;
}
main .tile12 {
  width: 30%;
  height: 20%;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 30px;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    background-color: darkkhaki;
    transform: scale(1);
  }
  25% {
    background-color: #a9a34c;
    transform: scale(1.02);
  }
  50% {
    background-color: darkkhaki;
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
