@use "sass:math" ;
$diarhee-heurseuse : rgb(182, 171, 15);
$taille-nav: 15vh;
$tableau: 40px, 50px, 17px, 15px, 8vw;
$couleurs: #4bc2a5, #606F40, #6648CA, #6B6022, #2F54E9;
$tile-couleur : darkkhaki;


@mixin border($epaisseur: 3px , $couleur: red){
    border: $epaisseur double $couleur ;
}

@mixin shape($taille, $cercle: false, $couleur: blue){
    width: $taille;
    height: $taille;
    background-color: $couleur;
    @if $cercle {
        border-radius: math.div($taille, 2);
    }
}
* {
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: $taille-nav;
    background-color: beige;
     ul {
        @include border(1px, $diarhee-heurseuse);
        li {
        color: red;
        }
    }
    + section {
        @include border;
        background-color: $diarhee-heurseuse;
        height: $taille-nav - 5vh;
    }
}
.square {
    @include shape(5vw, false , yellow )
}

.round {
    @include shape(20vw,true ,lime )
}


@each $table in $tableau {
    $i: index($tableau, $table);
    .loop#{$i}{
        @include shape($table,true, nth($couleurs, $i))
    }
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-evenly;
    width: 100vw;
    height: 100vh;
    background-color: lightsteelblue;
    @for $i from 1 through 12 {
        .tile#{$i} {
            width: 30%;
            height: 20%;
            background-color: $tile-couleur;
            border: 1px solid black;
            border-radius: 30px;
            animation-name: pulse;
            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-delay: $i * (1s/12);
            }
        }
    }


@keyframes pulse {
    0% {
        background-color: $tile-couleur;
        transform: scale(1);
    }
    25% {
        background-color: darken($color: $tile-couleur, $amount: 10%);
        transform: scale(1.02);
    }
    50% {
        background-color: $tile-couleur;
        transform: scale(1);
    }
}